/* Import Google font - Poppins */
@import url("https://fonts.doctorgoogleapis.doctorcom/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
} */

.doctor-wrapper {
  /* width: 100vw;
  min-height: 100vh; */
  background: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.doctorcontainer {
  position: relative;
  max-width: 900px;
  width: 100%;
  min-height: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.doctorcontainer header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.doctorcontainer .doctorform {
  margin-top: 30px;
}
.doctorform .doctorinput-box {
  width: 100%;
  margin-top: 20px;
}
.doctorinput-box label {
  color: #333;
}
.doctorform :where(.doctorinput-box input, .doctorselect-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.doctorinput-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.doctorform .doctorcolumn {
  display: flex;
  column-gap: 15px;
}
.doctorform .doctorgender-box {
  margin-top: 20px;
}
.doctorgender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.doctorform :where(.doctorgender-option, .doctorgender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.doctorform .doctorgender {
  column-gap: 5px;
}
.doctorgender input {
  accent-color: rgb(130, 106, 251);
}
.doctorform :where(.doctorgender input, .doctorgender label) {
  cursor: pointer;
}
.doctorgender label {
  color: #707070;
}
.doctoraddress :where(input, .doctorselect-box) {
  margin-top: 15px;
}
.doctorselect-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.doctorform button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.doctorform button:hover {
  background: rgb(88, 56, 250);
}

/* body {
  background: whitesmoke;
  font-family: "Open Sans", sans-serif;
} */

.profilecontainer {
  /* max-width: 960px; */
  /* border: 1px solid red; */
  margin: 30px auto;
  padding: 20px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}

.profileavatar-upload {
  position: relative;
  max-width: 205px;
  /* border: 1px solid red; */
  margin: 50px auto;
}
.profileavatar-upload .profileavatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.profileavatar-upload .profileavatar-edit input {
  display: none;
}
.profileavatar-upload .profileavatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.profileavatar-upload .profileavatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.profileavatar-upload .profileavatar-edit input + label:after {
  content: "\f067";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.profileavatar-upload .profileavatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.profileavatar-upload .profileavatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .doctorform .doctorcolumn {
    flex-wrap: wrap;
  }
  .doctorform :where(.doctorgender-option, .doctorgender) {
    row-gap: 15px;
  }
}
